@import 'global.css';
@import 'main.css';

body {
    font-family: var(--fontFamily) !important;
}

.blinn-fa-icon {
    font-size: 60px;
    color: #ffffff;
}

.blinn-fa-container {
    background-color: var(--secondaryColor) !important;
    padding: 50px;
}