@import 'global.css';
@import 'main.css';

p {
    font-family: var(--fontFamily) !important;
}

.blinn-fa-icon {
    font-size: 60px;
    color: #ffffff;
}

.blinn-fa-container {
    background-color: var(--secondaryColor) !important;
    padding: 50px;
}

.paragraph-one {
    position: relative;
    float: right;
    max-width: 350px;
    width: 100%;
    height: auto;
}