@import 'global.css';
@import 'main.css';

p {
    font-family: var(--fontFamily) !important;
}

.blinn-fa-icon {
    font-size: 60px;
    color: #ffffff;
}

.blinn-fa-container a {
    color: #ffffff !important;
}

.blinn-fa-container {
    background-color: var(--secondaryColor) !important;
    padding: 50px;
}

.paragraph-one-img {
    position: relative;
    float: right;
    max-width: 350px;
    width: 100%;
    height: auto;
    padding-left: 15px;
}


#custom-clip-path {
    width: 100%;
    height: 280px;
    background-color: var(--secondaryColor) !important;
    clip-path: polygon(0 0, 0 30%, 100% 0);
    position: relative;
    margin-top: -5px;
}

.cropped {
    width: 250px;
    height: 250px;
    margin-top: 15px;
    border: 10px solid var(--accentColor) !important;
    border-radius: 50%;
}