
.col {
    border: 1px solid black;
    
}

.col:nth-of-type(2) {
    background-color: blue;
}

.col:nth-of-type(3) {
    background-color: rgb(0, 255, 81);
}


.col:nth-of-type(4) {
    background-color: pink;
}


.col:nth-of-type(5) {
    background-color: violet;
}


.col:nth-of-type(6) {
    background-color: red;
}

.col:nth-of-type(7) {
    background-color: gray;
}

.col:nth-of-type(8) {
    background-color: aqua;
}

.col:nth-of-type(9) {
    background-color: green;
}


.col:nth-of-type(10) {
    background-color: yellow;
}

.col:nth-of-type(11) {
    background-color: brown;
}


.col:nth-of-type(12) {
    background-color: rgb(87, 165, 42);
}